* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(136, 136, 136);
}

.main-block {
    width: 320px;
    height: 533px;
    margin: 20px auto;
}

.chat-block {
    background-color: white;
    width: 320px;
    height: 533px;
    display: none;
}

.buttons-block {
    display: flex;
    justify-content: space-between;
}

.button {
    border: 1px solid black;
    background-color: transparent;
    margin: 8px;
    cursor: pointer;
}

.button-settings {
    width: 98px;
    height: 32px;
}

.button-exit {
    width: 66px;
    height: 32px;
}

.messages-block {
    width: 302px;
    height: 437px;
    border: 1px solid black;
    margin: 0 8px 0px 8px;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}

.form {
    display: flex;
    justify-content: space-between;
}

.message-input {
    border: 1px solid black;
    background-color: transparent;
    width: 258px;
    height: 30px;
    outline: none;
    color: black;
    padding: 0px 0px 0px 7px;
    margin: 8px 0 0 8px;
}

.message-input:placeholder {
    color: #7C7C7C;
}

.message-send {
    border: 1px solid black;
    background-color: transparent;
    width: 29px;
    height: 32px;
    cursor: pointer;
    margin: 8px 8px 0 0;
}

.message-item {
    display: flex;
    flex-direction: row;
}

.message-item-wrap {
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
    padding: 8px;
    margin: 4px 8px;
}

.message-item-text {
    overflow-wrap: break-word;
    max-width: 250px;
}

.message-item-time {
    font-size: 14px;
    color: #333333;
    font-style: italic;
    display: flex;
    flex-direction: row-reverse;
}

.message-not-read {
    background-color: #F6F6F6;
}

.message-item-my {
    flex-direction: row-reverse;
}

.message-item-companion {
    flex-direction: row;
}

.message-item-not-read {
    background-color: #F6F6F6;
}

.settings-block-wrap {
    background-color: #535353;
    width: 320px;
    height: 533px;
    display: none;
    align-items: center;
}

.setting-block {
    width: 273px;
    height: 319px;
    background-color: white;
    margin: 0 auto;
}

.setting-block-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.setting-block-close {
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: rotate(-45deg);
    width: 15px;
    height: 15px;
    line-height: 15px;
    padding: 0;
    opacity: 45%;
}

.setting-block-title-text {
    margin: 0;
}

.setting-block-text {
    margin: 0 15px;
}

.settings-block-form {
    display: flex;
    justify-content: space-between;
    margin: 8px 14px 0;
}

.settings-block-input {
    border: 1px solid black;
    background-color: transparent;
    width: 198px;
    height: 30px;
    outline: none;
    color: black;
    padding: 0px 0px 0px 7px;
}

.settings-block-input:placeholder {
    color: #7C7C7C;
}

.settings-block-send {
    border: 1px solid black;
    background-color: transparent;
    width: 30px;
    height: 32px;
    cursor: pointer;
}

.authorization-block-wrap {
    background-color: #535353;
    width: 320px;
    height: 533px;
    display: flex;
    align-items: center;
}

.authorization-block {
    width: 273px;
    height: 319px;
    background-color: white;
    margin: 0 auto;
}

.authorization-block-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.authorization-block-close {
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: rotate(-45deg);
    width: 15px;
    height: 15px;
    line-height: 15px;
    padding: 0;
    opacity: 45%;
}

.authorization-block-title-text {
    margin: 0;
}

.authorization-block-text {
    margin: 55px 15px 0;
}

.authorization-block-form {
    margin: 8px 14px 0;
}

.authorization-block-input {
    border: 1px solid black;
    background-color: transparent;
    width: 236px;
    height: 30px;
    outline: none;
    color: black;
    padding: 0px 0px 0px 7px;
}

.authorization-block-input:placeholder {
    color: #7C7C7C;
}

.authorization-block-send {
    border: 1px solid black;
    background-color: transparent;
    width: 120px;
    height: 34px;
    cursor: pointer;
    margin-top: 7px;
}

.confirmation-block-wrap {
    background-color: #535353;
    width: 320px;
    height: 533px;
    display: none;
    align-items: center;
}

.confirmation-block {
    width: 273px;
    height: 319px;
    background-color: white;
    margin: 0 auto;
}

.confirmation-block-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.confirmation-block-close {
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: rotate(-45deg);
    width: 15px;
    height: 15px;
    line-height: 15px;
    padding: 0;
    opacity: 45%;
}

.confirmation-block-title-text {
    margin: 0;
}

.confirmation-block-text {
    margin: 55px 15px 0;
}

.confirmation-block-form {
    margin: 8px 14px 0;
}

.confirmation-block-input {
    border: 1px solid black;
    background-color: transparent;
    width: 236px;
    height: 30px;
    outline: none;
    color: black;
    padding: 0px 0px 0px 7px;
}

.confirmation-block-input:placeholder {
    color: #7C7C7C;
}

.confirmation-block-send {
    border: 1px solid black;
    background-color: transparent;
    width: 62px;
    height: 34px;
    cursor: pointer;
    margin-top: 7px;
}